.portfolioContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.portfolioProjects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.portfolio-ul {
  font-size: 18px;
  font-weight: bold;
}

.portfolio-li {
  font-size: 15px;
  font-weight: 500;
}

.portfolio-li::before {
  content: "⁜ ";
  color: #070ed7a8;
  font-weight: lighter;
  font-size: 22px;
}

.portfolioProjectsLink {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}

.portfolioProjectsLink:hover {
  color: #070ed7d6;
}

.icon-box {
  margin: 20px 0px;
}

.introText {
  width: 80%;
  text-align: center;
}

.portfolioProjectsTitle {
  font-size: 20px;
}

#projects {
  font-size: 25px;
  font-weight: 500;
  color: #070ed7a8;
  background-color: #fdeff2;
  margin: 20px 0px;
  border-radius: 50px;
  padding: 5px 0px;
}

.portfolioProjectsDesc {
  font-size: 14px;
}

.portfolioProjectsImg {
  width: 100%;
  height: 800px;
  margin: 20px 0px;
}

.stillInProgress {
  font-weight: 100;
  font-size: 14px;
  color: red;
}

/* Media Queries */
@media (max-width: 768px) {
  .portfolioProjectsImg {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 480px) {
}
