.form-group input[class="form-control"] {
  height: 55px;
  font-size: 15px;
}

label[for="checkboxQueries"] {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
}

div.form-group input[name="checkboxQueries"] {
  margin-right: 10px;
}

.form-group {
  font-size: 14px;
  font-weight: 100;
}

.sendMessage {
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  color: white;
  background-color: #070ed7a8;
}

/* Media Queries */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
